*{
    margin: 0
}

.card{
    /* Auto layout */


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;


    width: 285px;
    height: 176px;

    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 6px;
}

.card-title{
    /* Auto layout */
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 214px;
    height: 22px;
    color: #122448;
}

.card-inside{
    /* %growth */

    /* Auto layout */

    margin-left: 15px;
    position: absolute;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 4px;

    width: 110.12px;
    height: 24px;

    background: linear-gradient(93.29deg, #854AF2 0%, #516DEE 48.86%, #1A92EA 99.89%);
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-inside h1{

    width: 46px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-inside-triangle-perc{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 24px;
    width: 12.120000839233398px;
    left: 55px;
    top: 5px;
    border-radius: 0px;
    padding: 0px 0px 2px 0px;



    /* Inside auto layout */
}

.percentage{
    width: 12.12px;
    height: 10.89px;

    /* para alinear con el bottom */
    margin-bottom: 8px;
    
    color: #FFFFFF;
    font-family: 'Poppins';
}

.triangle{ 
    width: 0; 
    height: 0; 
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #1EDDA3;

    border-radius: 1px;

    /* para alinear con el bottom */
    margin-bottom: -4px;
}

.card-inside p{
    /* 5 year growth */

    width: 44px;
    height: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    /* or 92% */

    display: flex;
    align-items: center;
    font-variant: small-caps;

    color: rgba(255, 255, 255, 0.95);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


/* CHART  */

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

svg {
  /*   border: 1px solid black; */
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}

.circle-animation0 {
  animation: fadeInDown 0.3s both;
}
.circle-animation1 {
    animation: fadeInDown 0.3s both 2s;
  }
.circle-animation2 {
    animation: fadeInDown 0.3s both 2.3s;
}
.circle-animation3 {
    animation: fadeInDown 0.3s both 2.6s;
}
.circle-animation4 {
    animation: fadeInDown 0.3s both 2.9s;
}
.circle-animation5 {
    animation: fadeInDown 0.3s both 3.2s;
}
#dates{
  
  margin-left: 15px;
  margin-bottom: 15px;
  position: absolute;
  padding: 0;
  display: flex;
  width: 255px;
  top: 150px;
}

#dates li{
  width: 25px;
  height: 11.57px;

  margin-right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  list-style: none;
  /* identical to box height */

  text-align: center;
  font-variant: small-caps;

  color: #122448;
}

.price{
  width: 32px;
  height: 14px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  font-variant: small-caps;

  color: rgba(18, 36, 72, 0.9);
}

.p{
  width: 32px;
  height: 14px;
  position:absolute;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  font-variant: small-caps;

  color: rgba(18, 36, 72, 0.9);
}

.line-animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: move 2s linear; 
    animation-fill-mode: forwards;
  }
  
  @keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
  }